.map {
  width: 856px;
  height: 433px;
  background-size: 856px, 433px;
  background-repeat: no-repeat;
  background-image: url('/images/world-map-856x433.png?1380967795');
  background-image: url('/images/world-map.svg?1380964046'), none;
}
