@import "compass-svg-polyfill/svg";

.map {
    @include background-svg(
        $width: 856px,
        $height: 433px,
        $svg: "world-map.svg",
        $png: "world-map-856x433.png",
        $inline: true
    );
}